[submodule "backend"]
	path = backend
	url  = git@github.com:tritonjs/backend

[submodule "ui"]
	path = ui
	url  = git@github.com:tritonjs/ui

[submodule "ide"]
	path = ide
	url  = git@github.com:tritonjs/ide

[submodule "workspace"]
	path = workspace
	url  = git@github.com:tritonjs/workspace
